amqp==5.3.1
asgiref==3.8.1

billiard==4.2.1
celery==5.4.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
dj-database-url==2.3.0
Django==4.2.16
docker==7.1.0
idna==3.10
kombu==5.4.2
lxml==5.3.0
pillow==10.4.0
prompt_toolkit==3.0.48
python-dateutil==2.9.0.post0
python-pptx==1.0.2

requests==2.32.3
six==1.17.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.7.0
XlsxWriter==3.2.0
